{% load static %}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
{#    <meta http-equiv="x-ua-compatible" content="ie=edge">#}
    <title>Aga-Pa Senior Resources</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="Aga-Pa Senior Resources LLC. We are equipped with 18+ years of hands-on experience caring for residents with different degrees of physical and mental regressions. We know the business inside and out, and understand that residents have different level of care needs, and we match those needs with the appropriate facility.">
    <meta name="keywords" content="aga-pa senior resources, aga-pa senior care, agapa senior resources, facilities near me, 
	Senior care orlando, senior resources new smyrna, senior resources orlando, senior resources near me, senior mental health,
	senior mental health care, senior care, senior resources orange county, senior resources Marion">
    <meta property="og:image" content="https://i.imgur.com/zyK3EWE.png" >
    <!---Favicon Icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/agapa.ico' %}">

    <!---Font Icon-->
    <link href="{% static 'css/all.min.css'%}" rel="stylesheet">
    <link href="{% static 'font/flaticon.css' %}" rel="stylesheet">
    <link href="{% static 'flaticon-new/font/flaticon.css' %}" rel="stylesheet">
    <!-- / -->

    <!-- Plugin CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link href="{% static 'css/animate.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/odometer.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pogoslider.css' %}">
    <link href="{% static 'css/menu.css' %}" rel="stylesheet">

    <!-- Theme Style -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PM8ES7C82T"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-PM8ES7C82T');
    </script>

</head>

<body>
    <!-- Back to top Start -->
    <div id="back-top-btn">
        <i class="fa fa-chevron-up"></i>
    </div>
    <!-- Back to top End -->
    
    <!-- =============================
        Start: Preloader
    ============================= -->
    <div id="preloader">
        <div class='loader-ring'>
            <div class='loader-ring-light'></div>
            <div class='loader-ring-track'></div>
        </div>
    </div>

    <!-- =============================
        End: Preloader
    ============================= -->
    
    <!-- Header -->
        <!-- Header nav AREA CSS -->
        <!--Header Top-->

        <div class="header-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-1 col-1">
                        <div class="logo">
                            <a class="navbar-brand" href="#home"><img src="{% static 'images/finalagapelogo1.webp' %}" class="img-fluid" alt="logo"/></a>
                        </div>
                    </div>

                    <div class="col-lg-1  col-md-1 col-1 pr0">
                        <div class="menu-icon">
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-3 col-3 pl0">
                        <div class="subheader-text">
                            <p>Location</p>
                            <h5>
                                605 Richard Street, New Smyrna Beach, Fl. 42168
                            </h5>
			    <br>
			    <h6 style="text-decoration: underline">Hours of operation</h6>
                            <h7>Monday-Friday<br> 9AM - 5 PM</h7>
                        </div>

                    </div>
                    <div class="col-lg-1 col-md-1 col-1 pr0">
                        <div class="menu-icon">
                            <i class="fas fa-phone"></i>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-2 col-3 pl0 pr0">
                        <div class="subheader-text">
                            <p>Phone</p>
                            <h5>
                                (407) 758 7236
                            </h5>
                            <br>
                            <br>
                            <br>
                            <h6 style="text-decoration: underline">Counties Serving</h6>
                            <h7>Volusia, Flagler, Orange, Osceola, Lake, Marion, Sumter, Levy, Alachua</h7>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-1 pr0">
                        <div class="menu-icon">
                            <i class="fas fa-envelope"></i>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-2 col-2 pl0">
                        <div class="subheader-text">
                            <p>E-mail</p>
                            <h6>
                                agapaseniorresourcesllc@gmail.com
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- NAV AREA CSS -->
        <nav id="nav-part" class="navbar header-nav other-nav custom_nav sticky-top navbar-expand-md hidden-main">
            <div class="container">

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="#home"><span data-hover="Home">Home</span></a></li>

                        <li class="nav-item"><a class="nav-link" href="#aboutus"><span data-hover="About">About us</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#service"><span data-hover="Services">Our Services</span></a></li>
{#                        <li class="nav-item"><a class="nav-link" href="#testimonial"><span data-hover="Services">Testimonials</span></a></li>#}
                        <li class="nav-item"><a class="nav-link" href="#experience"><span data-hover="Services">Experience</span></a></li>
			            <li class="nav-item"><a class="nav-link" href="#team"><span data-hover="Services">Partners</span></a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact"><span data-hover="Contact">Contact</span></a></li>

                    </ul>
                </div>




            </div>
        </nav>
        <nav id='cssmenu' class="hidden mobile">
            <div class="logo">
                <a href="index.html" class="logo">
                    <img src="{% static 'images/mobilelogo.webp' %}" class="img-responsive" alt="">
                </a>
            </div>
            <div id="head-mobile"></div>
            <div class="button"><i class="more-less fa fa-align-right"></i></div>
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#aboutus">About us</a></li>
                <li><a href="#service">Our Services</a></li>
                 <li><a href="#experience">Experience</a></li>
                <li><a href="#team">Partners</a></li>

                


                <li ><a href="#contact" class="btn btn-4 btn-br">Contact us</a></li>

            </ul>

        </nav>

    <!-- Header End -->

    <!-- =============================
        Start: Header Slider
    ============================= -->
    <section id="home">
    <div class="tg-sliderholder">
        <div id="tg-homeslider" class="tg-homeslider tg-haslayout" style="padding-bottom: 0!important">
            <div class="pogoSlider-slide" data-transition="fade" data-duration="200" style="background:url({% static 'images/slideragape.jpg' %}) no-repeat scroll center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="tg-slidercontent " data-transition="blocksReveal">
                                <h6 class="pogoSlider-slide-element" data-in="slideUp" data-duration="800" data-delay="500">Simple, Effective, Efficient, and Innovative</h6>
                                <h1 class="pogoSlider-slide-element" data-in="slideDown" data-duration="800" data-delay="500"><span>Better Services</span>
                                    Starts Here</h1>
                                <p>Helping seniors and veterans live a quality, safe, and meaningful life in their Golden
                                    Years at a place they can call HOME.</p><br>
				<h6 style="text-decoration: underline">Hours of operation</h6>
                                <h7 style="color: white;">Monday-Friday 9AM - 5 PM</h7><br>

				<h6 style="text-decoration: underline">Counties Serving</h6>
                            <h7 style="color: white;">Volusia, Flagler, Orange, Osceola, Lake, Marion, Sumter, Levy, Alachua</h7>


                                <a class="btn-shape btn banner-btn btn-4" data-in="slideUp" data-out="slideDown" data-duration="800" data-delay="300" href="#aboutus">Explore More</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pogoSlider-slide" data-transition="expandReveal" data-duration="1000" style="background:url({% static 'images/veterans.jpeg' %}) no-repeat scroll center center;">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-7">
                            <div class="tg-slidercontent">
                                <h6 class="pogoSlider-slide-element" data-in="slideUp" data-duration="800" data-delay="500">Simple, Effective, Efficient, and Innovative</h6>
                                <h1 class="pogoSlider-slide-element" data-in="slideDown" data-duration="800" data-delay="500"><span>Better Services</span>
                                    Starts Here</h1>
                                <p>Helping seniors and veterans live a quality, safe, and meaningful life in their Golden
                                    Years at a place they can call HOME.</p>

				<h6 style="text-decoration: underline">Hours of operation</h6>
                                <h7 style="color: white;">Monday-Friday 9AM - 5 PM</h7><br>

				<h6 style="text-decoration: underline">Counties Serving</h6>
                            <h7 style="color: white;">Volusia, Flagler, Orange, Osceola, Lake, Marion, Sumter, Levy, Alachua</h7>



                                <a class="btn-shape btn banner-btn btn-4" data-in="slideUp" data-out="slideDown" data-duration="800" data-delay="300" href="#">Explore More</a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
    <!-- =============================
        End: Header Slider
    ============================= -->

    <!-- =============================
        Start: About Us 
    ============================= -->
    <section id="aboutus" class="aboutus section">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-12 text-center no-padding">
                    <div class="about-col">
                        <img class="img-fluid about-img" src="{% static 'images/about-image-qoute.webp' %}" alt="about">
                    </div>

                </div>

                <div class="col-lg-7 col-md-8 text-left pl0">
                    <div class="about-cont">
                        <div class="heading b-text">
                            <h5>know more</h5>
                            <h2>About Aga-Pa</h2>
                        </div>

                        <p>Like the Etymology of the company&#39s name, we believe greatly in protecting seniors and veterans from
			all harm. We are a start-up company motivated by our passion to care for the residents, in finding a
			home that provides the highest level of care, and respect for the dignity and individuality of each
			resident. Aga-pa is locally owned, growing in business and continually adding advocate/team member.
			We are equipped with 18+ years of hands-on experience caring for residents with different degrees of
			physical and mental regressions. We know the business inside and out, and understand that residents
			have different level of care needs, and we match those needs with the appropriate facility.</p>


                    </div>

                </div>
                <div class="col-lg-9 offset-lg-3 col-md-12">
                    <div class="row justify-content-center fun-facts-area">
                        <div class="col-md-1 col-3 no-padding">
                            <div class="about-icon1">
                                <i class="flaticon-022-handshake"></i>
                            </div>
                        </div>
                        <div class="col-md-3 col-9">
                            <div class="fun-facts-item">
                                <h3 class="title odometer" data-count="10,000">00</h3>
                                <span>+ happy</span>
                                <p>Customers</p>
                            </div>
                        </div>
                        <div class="col-md-1 col-3 no-padding">
                            <div class="about-icon1">
                                <i class="flaticon-medical-insurance"></i>
                            </div>
                        </div>
                        <div class="col-md-3 col-9">
                            <div class="fun-facts-item">
                                <h3 class="title odometer" data-count="3,000">00</h3>
                                <span>+ customers</span>
                                <p>Financially assisted</p>
                            </div>
                        </div>
                        <div class="col-md-1 col-3 no-padding">
                            <div class="about-icon1">
                                <i class="flaticon-006-report"></i>
                            </div>
                        </div>
                        <div class="col-md-3 col-9">
                            <div class="fun-facts-item">
                                <h3 class="title odometer" data-count="18">00</h3>
                                <span>+ Years</span>
                                <p>of Experiences</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>


        </div>
    </section>

    <!-- =============================
        End: About Us 
    ============================= -->

    <!-- =============================
        Start: service Part
    ============================= -->

    <section id="service" class="service section">
        <div class="container">
            <div class="row">

                <div class="col-12 ">
                    <div class="heading b-text text-center">
                        <h5>explore more</h5>
                        <h2>Our Services</h2>
                    </div>
                </div>

            </div>

        </div>
        <div class="container">
            <div class="row service-slick">
                <div class="col-md-4">
                    <div class="service-inner text-center">
                        <div>
                            <i class="flaticon-011-consultation"></i>
                        </div>
                        <h5>Consultation</h5>
                        <p>We offer FREE consultation and assistance to determine financial, physical and mental eligibility. Call (407)-758-7236 to determine how we can
			help you </p>
			<p>FREE MEMORY SCREENING by an AFA professional and certified screening site near you. </p>
                        <div><a class="btn btn-4 btn-ser" href="tel:4077587236">Call Us</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-inner text-center">
                        <div>
                            <i class="flaticon-012-consumer"></i>
                        </div>
                        <h5>Counseling</h5>
                        <p>We offer counseling to help find the best assistance needed. Our counseling is worry and hassle free. We provide a caring environment to help meet your needs no matter the situation. Call (407)-758-7236
                        to determine your needs.</p>
                        <div><a class="btn btn-4 btn-ser" href="tel:4077587236">Call Us</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-inner text-center">
                        <div>
                            <i class="flaticon-025-maze"></i>
                        </div>
                        <h5>Unique Placement</h5>
                        <p>Our <q>VIRTUAL TOUR</q> brings the facility to you through video tours of
our facility <q>partners</q>, it EMPOWERS you to choose which facility is best suited for you. </p>
                        <div><a class="btn btn-4 btn-ser" href="tel:4077587236">For Serious Candidates</a></div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-inner text-center">
                        <div>
                            <i class="flaticon-024-report-1"></i>
                        </div>
                        <h5>Assistance</h5>
                        <p>We offer assistance in filling-up forms required for admission to greatly simplify the process. We also offer assistance in applying for Medicaid or V.A. financial assistance. </p>
                        <div><a class="btn btn-4 btn-ser" href="tel:4077587236">Let's Meet</a></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="additional" class="service section">
        <div class="container">
            <div class="row">

                <div class="col-12 ">
                    <div class="heading b-text text-center">
                        <h5>for a fee</h5>
                        <h2>Additional Services</h2>
                    </div>
                </div>

            </div>

            <div class="row doctor-slick">
                <div class="col-md-4">
                    <div >
                        <h3 class="text-center" style="text-decoration: underline; ">Services for facility owners</h3>
                        <ul style="content:attr(aria-label);font-size:100%; font-weight:bold;margin-left:35px;" >

                            <br>
                            <li style="list-style-type: circle;"><p>Provide prequalified candidates for placement.</p></li> <br>
                            <li style="list-style-type: circle"><p><q>Virtual Tour</q> a video of your facility to show to prequalified candidates. This replaces <q>facility
                                tour</q> and it will help with decision making.</p></li><br>
                            <li style="list-style-type: circle;"><p>Ready for admission candidates that have all the documentation needed for admission.</p></li> <br>
                            <li style="list-style-type: circle;"><p>Assistance in applying for Medicaid Long Term Care or V.A. financial assistance. (no fee)</p></li> <br>

                        </ul>

                    </div>
                </div>
                <div class="col-md-4">
                    <div >

                        <h3 class="text-center" style="text-decoration: underline; ">Offering Assistance with</h3>
                        <ul style="content:attr(aria-label);font-size:100%; font-weight:bold;margin-left:35px;" >

                            <br>
                            <li style="list-style-type: circle;"><p>Preparing for biennial AHCA survey.</p></li> <br>
                            <li style="list-style-type: circle"><p>Correct deficiencies.</p></li><br>
                            <li style="list-style-type: circle;"><p>Prepare CEMP</p></li> <br>
                            <li style="list-style-type: circle;"><p>Prepare other documents requested by AHCA and other agencies.</p></li> <br>

                        </ul>

                    </div>
                </div>
                <div class="col-md-4">
                    <div >
                        <h3 class="text-center" style="text-decoration: underline; ">Services for New Facility Owner/Buyer</h3>
                        <ul style="content:attr(aria-label);font-size:100%; font-weight:bold;margin-left:30px;" >

                            <br>
                            <li style="list-style-type: circle;"><p>Consultation- to provide important information regarding the pros and cons of owning a facility.</p></li> <p></p>
                            <h5 class="text-center" style="text-decoration: underline; ">Assistance in</h5>
                            <li style="list-style-type: circle"><p>Finding the appropriate location or appropriate facility.</p></li><p></p>
                            <li style="list-style-type: circle;"><p>Preparing the necessary documents to apply for license.</p></li> <p></p>
                            <li style="list-style-type: circle;"><p>Applying for facility license.</p></li> <br>
                            <li style="list-style-type: circle;"><p>Preparing the facility for inspections prior to acquiring license.</p></li> <p></p>
                            <li style="list-style-type: circle;"><p>Preparing facility documents/forms necessary for daily/weekly/monthly operations.</p></li> <p></p>
                            <li style="list-style-type: circle;"><p>Acquiring the appropriate staffing.</p></li> <p></p>
                            <li style="list-style-type: circle;"><p>Securing 3 rd party services.</p></li> <p></p>

                        </ul>

                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- =============================
        End: service Part
    ============================= -->

    <!-- =============================
        Start: Experience Part
    ============================= -->

    <section id="experience" class="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 text-center">
                    <img class="img-fluid" src="{% static 'images/why-choose-us-image.webp' %}" alt="about">
                </div>
                <div class="col-lg-7 exp-pad pl0">
                                            <div class="about-cont">
                            <div class="heading b-text">
                                <h5>know more</h5>
                                <h2>About the Founder</h2>
                            </div>

                    <div class="row exp-in">

                        <div class="col-lg-3 col-md-12 text-center">
                            <img src="{% static 'images/Experience.webp' %}" class="img-fluid exp" alt="experienced" />
                        </div>
                        <div class="col-lg-9 col-md-12 pl0">
                            <div class="exp-text">
                                <h6>Years of experiences as a</h6>
                                <h5>Professional Administrator and Advocate for facilities</h5>

                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="exp-txt">
                                <p>
				In 2003 two young friends solicited my assistance to purchase their own assisted living facility. I took the
				mandated CORE class and became the administrator for my young friends and their mentor. Caring for
				the seniors I experienced a high degree of self-fulfillment for the first time in my career life. 18 years
				later, I am still high on that feeling and enjoying it.                                    
                                </p>
				<p>
				In my capacity as an administrator, I worked with various sizes of facilities, I met numerous wonderful
				residents and staff many have remained friends. Unfortunately, I also experienced the bad side of the
				business. I witnessed abuse, neglect, and exploitation of the seniors committed mostly by families and
				friends. I was appalled by the gross indifference and total disregard of the lawmakers I reported these
				crimes to. It is this reason that motivated me to establish my own company. I am determined to
				continue advocating for the seniors in hope that one day what I do might help prevent or end such
				crimes.

				</p>
				<p>
				"Partner in Care" Certified by Alzheimer's Foundation of America (AFA).<br>

				We speak English, Tagalog, and Spanish. "SE HABLA ESPANOL" 
				</p>


	

                            </div>
                        </div>

{#                        <div class="col-md-6 col-12">#}
{#                            <div class="row exp-ser-in">#}
{#                                <div class="col-md-3 col-3">#}
{#                                    <div class="exp-icon1">#}
{#                                        <i class="flaticon-006-report"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8 col-9">#}
{#                                    <div class="exp-ser">#}
{#                                        <h4>100%</h4>#}
{#                                        <p>Transperancy</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6 col-12">#}
{#                            <div class="row exp-ser-in">#}
{#                                <div class="col-md-3 col-3">#}
{#                                    <div class="exp-icon1">#}
{#                                        <i class="flaticon-007-call-center"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8 col-9">#}
{#                                    <div class="exp-ser">#}
{#                                        <h4>%100</h4>#}
{#                                        <p>True and Honest Service</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6 col-12">#}
{#                            <div class="row exp-ser-in">#}
{#                                <div class="col-md-3 col-3">#}
{#                                    <div class="exp-icon1">#}
{#                                        <i class="flaticon-family"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8 col-9">#}
{#                                    <div class="exp-ser">#}
{#                                        <h4>24X7</h4>#}
{#                                        <p>Agent Support</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-6 col-12">#}
{#                            <div class="row exp-ser-in">#}
{#                                <div class="col-md-3 col-3">#}
{#                                    <div class="exp-icon1">#}
{#                                        <i class="flaticon-password"></i>#}
{#                                    </div>#}
{#                                </div>#}
{#                                <div class="col-md-8 col-9">#}
{#                                    <div class="exp-ser">#}
{#                                        <h4>100%</h4>#}
{#                                        <p>Secure Plan</p>#}
{#                                    </div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}

                    </div>
                </div>

            </div>

        </div>
    </section>

    <!-- =============================
        End: Experience Part
    ============================= -->
    <!-- =============================
        Start: Testimonial Part
    ============================= -->
{#    <section id="testimonial" class="testimonial section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-12 ">#}
{#                    <div class="heading w-text text-center">#}
{#                        <h5>get to know</h5>#}
{#                        <h2>Clients Feedbacks</h2>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="row testimonial-slick">#}
{#                <div class="col-md-6">#}
{#                    <div class="tes-inner">#}
{#                        <div class="row">#}
{#                            <div class="col-md-3">#}
{#                                <div class="test-img">#}
{#                                    <img src="{% static 'images/testimonial-image-1.jpg' %}" class="img-fluid" alt="testimonial" />#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="col-md-9 pl0">#}
{#                                <div class="test-txt">#}
{#                                    <h4>Micheal Rover</h4>#}
{#                                    <p>Satisfied Customer</p>#}
{##}
{#                                    <ul>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <div class="test-para">#}
{#                                    <p>It’s the BEST insurance company. Loved to get services from you and look forward to working with you again one day! Wishing it’ll get all the success in the world.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="tes-inner">#}
{#                        <div class="row">#}
{#                            <div class="col-md-3">#}
{#                                <div class="test-img">#}
{#                                    <img src="{% static 'images/testimonial-image-2.jpg' %}" class="img-fluid" alt="testimonial" />#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="col-md-9 pl0">#}
{#                                <div class="test-txt">#}
{#                                    <h4>Abigali Nain</h4>#}
{#                                    <p>Satisfied Customer</p>#}
{##}
{#                                    <ul>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <div class="test-para">#}
{#                                    <p>It’s the BEST insurance company. Loved to get services from you and look forward to working with you again one day! Wishing it’ll get all the success in the world.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-6">#}
{#                    <div class="tes-inner">#}
{#                        <div class="row">#}
{#                            <div class="col-md-3">#}
{#                                <div class="test-img">#}
{#                                    <img src="{% static 'images/testimonial-image-1.jpg' %}" class="img-fluid" alt="testimonial" />#}
{#                                </div>#}
{##}
{#                            </div>#}
{#                            <div class="col-md-9 pl0">#}
{#                                <div class="test-txt">#}
{#                                    <h4>Micheal Rover</h4>#}
{#                                    <p>Satisfied Customer</p>#}
{##}
{#                                    <ul>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                        <li><i class="fa fa-star fa-light"></i></li>#}
{#                                    </ul>#}
{#                                </div>#}
{#                            </div>#}
{#                            <div class="col-md-12">#}
{#                                <div class="test-para">#}
{#                                    <p>It’s the BEST insurance company. Loved to get services from you and look forward to working with you again one day! Wishing it’ll get all the success in the world.</p>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </section>#}
{##}
{#    <!-- =============================#}
{#        End: Testimonial Part#}
{#    ============================= -->#}
{#    <!--========================#}
{#     Team Part HTML Start#}
{#    ==========================-->#}

    <section id="team" class="service section">
        <div class="container">
            <div class="row">

                <div class="col-12 ">
                    <div class="heading b-text text-center">
                        <h5>know About Us</h5>
                        <h2>Our Partners</h2>
                    </div>
                </div>

            </div>

            <div class="row doctor-slick">
                <div class="col-md-4">
                    <div class="team-inner">
                        <div class="team-img text-center">
                            <img src="{% static 'images/facilities.webp' %}" class="img-fluid" alt="team">
                        </div>
                        <div class="team-txt text-center">
                            <h4>Facilities</h4>
                            <p class="team-border">Assisted Living Facilities <br> Memory Care Facilities <br> Independent Living <br> Rehabilitation &amp; Hospice </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-inner">
                        <div class="team-img text-center">
                            <img src="{% static 'images/nurses.webp' %}" class="img-fluid" alt="team">
                        </div>
                        <div class="team-txt text-center">
                            <h4>Medical Care</h4>
                            <p class="team-border">Skilled Nursing <br> Doctors <br> Home Health <br> Medical Clinics <br> </p>

                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="team-inner">
                        <div class="team-img text-center">
                            <img src="{% static 'images/attorney.webp' %}" class="img-fluid" alt="team">
                        </div>
                        <div class="team-txt text-center">
                            <h4>Legal Care</h4>
                            <p class="team-border">Estate and Family Planning Attorney <br> Real State Attorney <br> Realtors</p>

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

{#    <!--======================#}
{#     Team Part HTML End#}
{#    =======================-->#}
{#    <!--======================#}
{#        Latest Updates Part HTML Start#}
{#    =======================-->#}
{##}
{#    <section id="blog" class="blog section">#}
{#        <div class="container">#}
{#            <div class="row">#}
{##}
{#                <div class="col-12 ">#}
{#                    <div class="heading b-text text-center">#}
{#                        <h5>explore more</h5>#}
{#                        <h2>Our Blogs</h2>#}
{#                    </div>#}
{#                </div>#}
{##}
{#            </div>#}
{#            <div class="row">#}
{##}
{#                <div class="col-lg-5">#}
{#                    <div class="blog-txt">#}
{#                        <div class="blog-img">#}
{#                            <img src="{% static 'images/blog-image-1.jpg' %}" class="img-fluid" alt="blog">#}
{#                        </div>#}
{#                        <div class="blog-inner">#}
{#                            <h3>Posted by:Admin <span>Posted on: 26 April 2020</span></h3>#}
{#                            <h4>What Can I do to protect my self & prevent the risk</h4>#}
{#                            <p>Health insurance is an insurance that covers the whole or a part of the risk of a person incurring medical expenses.#}
{#                                spreading the risk over numerous.</p>#}
{#                            <a href="blog-details.html">#}
{#                                Read More <i class="fas fa-long-arrow-alt-right"></i>#}
{#                            </a>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-lg-7 blog-right">#}
{#                    <div class="row blog-txt">#}
{#                        <div class="col-md-5">#}
{#                            <div class="blog-img">#}
{#                                <img src="{% static 'images/blog-image-2.jpg' %}" class="img-fluid" alt="blog">#}
{#                            </div>#}
{##}
{#                        </div>#}
{#                        <div class="col-md-7">#}
{#                            <div class="blog-inner">#}
{#                                <h3>Posted by:Admin <span>Posted on: 16 May 2020</span></h3>#}
{#                                <h4>This factsheet provides an influ virus situation </h4>#}
{#                                <p>Health insurance is an insurance that covers the whole or a part of the risk of a person incurring medical expenses.</p>#}
{#                                <a href="blog-details.html">#}
{#                                    Read More <i class="fas fa-long-arrow-alt-right"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="row gap-row">#}
{#                        <div class="col-md-5">#}
{#                            <div class="blog-txt">#}
{#                                <div class="blog-img">#}
{#                                    <img src="{% static 'images/blog-image-3.jpg' %}" class="img-fluid" alt="blog">#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md-7">#}
{#                            <div class="blog-inner">#}
{#                                <h3>Posted by:Admin <span>Posted on: 22 May 2020</span></h3>#}
{#                                <h4>What Can I do to protect my self & prevent the spread</h4>#}
{#                                <p>Health insurance is an insurance that covers the whole or a part of the risk of a person incurring medical expenses.</p>#}
{#                                <a href="b">#}
{#                                    Read More <i class="fas fa-long-arrow-alt-right"></i>#}
{#                                </a>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{##}
{#        </div>#}
{##}
{#    </section>#}

    <!--======================
        Blog Part HTML End
    =======================-->

    <!--====================
    Contact Part HTML Start
    ======================-->
    <section id="contact" class="contact">
        <div class="container">
            <div class="content-text">
                <div class="row">
                    <div class="col-lg-6 col-md-6">
                        <div class="cont-logo">
                            <a href="#"><img src="{% static 'images/finalagapelogo1.webp' %}" alt="footer logo"></a>
                        </div>
                        <div class="cont-txt">
                            <p class="cont-gap">Helping seniors and veterans live a quality, safe, and meaningful life in their Golden Years at a place they can call HOME.
                            </p>


{#                                <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-pinterest-p"></i></a></li>#}
{#                                <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>#}
                            </ul>
                        </div>
                    </div>


                    <div class="col-lg-6 col-md-6">
                        <div class="cont-center">
                            <h3>Contact us</h3>
                        </div>
                        <div class="c-text-location">
                            <div class="row">
                                <div class="col-lg-2  col-md-3">
                                    <ul>
                                        <li><a href="https://goo.gl/maps/TgdKPsrFVGKgZ1Zu9" target="_blank"><i class="fas fa-map-marker-alt"></i></a></li>
                                        <li><a href="tel:4077587236"><i class="fas fa-phone"></i></a></li>
                                        <li><a href="mailto:agapaseniorresourcesllc@gmail.com"><i class="fas fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                                <div class="col-lg-9  col-md-9">
                                    <div class="address">

                                        <p>605 Richard Street, New Smyrna Beach, Fl. 42168</p><br>

                                        <p>(407) 758 7236<br>
                                        <br>
                                        <p>agapaseniorresourcesllc@gmail.com<br>

                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <h5 style="padding-top: 40px;text-decoration: underline; color: white">Hours of operation</h5>
                        <h6 style="color: white;">Monday-Friday 9AM - 5 PM</h6>
                    </div>
                </div>
                <br>
                <div class="row">
                <div class="col">

                </div>
                <div class="col-10 col-md-10">
                    <h4 style=" color: white; text-decoration: underline; text-align: center;"> We are hiring! </h4>
                    <p class="cont-txt" style="color: white;">
                                <br> Marketing Rep/Senior Advocate
                                Must be 18 years or older
                                Has marketing experience
                                High School Graduate or better
                                Reliable Transportation
                                High Degree of communication skills
                                Self-motivated
                                Look, speak, and present yourself in a professional manner
                                Commission only
                                Company will train
                                Veterans, seniors, retirees, and persons with handicap or disability are welcome to apply
                                Equal employment opportunity <br>
                                I am looking for Marketing Representatives/Senior Advocates to represent my company. We are a
                                placement company for seniors and veterans. Experience helps but I am willing to train the right person.
                                You must have a passion to work with seniors, veterans, and facility owners. You make your own hours and
                                earn as much money as you want, with no limit on your income. We welcome Veterans who are willing to work,
                                seniors or retirees looking for additional income, or persons with handicaps or disabilities who are able
                                to drive and meet facility owners or decision-makers.<br>
                                Please email your resume and cover letter to agapaseniorresourcesllc@gmail.com or to bghealth@att.net.
                </p>
                </div>
                    <div class="col"></div>
                    </div>
            </div>
            <br><br>
            <div class="footer-bottom">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <p>Copyright © 2021. All rights reserved by <a href="#">Aga-Pa</a></p>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </section>


    <!--===========================
        Contact Part HTML End
    ============================-->


    <!-- jQuery -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/jquery-migrate-3.0.0.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/slick.min.js' %}"></script>
    <!--====== odometer js ======-->
    <script src="{% static 'js/odometer.min.js' %}"></script>
    <script src="{% static 'js/jquery.appear.min.js' %}"></script>

    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/wow.min.js' %}"></script>
    <script src="{% static 'js/waypoints.js' %}"></script>
    <script src="{% static 'js/menu-opener.js' %}"></script>
    <script src="{% static 'js/pogoslider.js' %}"></script>
    <script src="{% static 'js/SmoothScroll.js' %}"></script>
    <!-- custom -->

    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/menu.js' %}"></script>

</body>

</html>