    /*
    Flaticon icon font: Flaticon
    Creation date: 11/02/2019 07:42
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-accounting:before { content: "\f100"; }
.flaticon-002-analysis:before { content: "\f101"; }
.flaticon-003-benefit:before { content: "\f102"; }
.flaticon-004-briefcase:before { content: "\f103"; }
.flaticon-005-incentive:before { content: "\f104"; }
.flaticon-006-report:before { content: "\f105"; }
.flaticon-007-call-center:before { content: "\f106"; }
.flaticon-008-company:before { content: "\f107"; }
.flaticon-009-computer:before { content: "\f108"; }
.flaticon-010-conference:before { content: "\f109"; }
.flaticon-011-consultation:before { content: "\f10a"; }
.flaticon-012-consumer:before { content: "\f10b"; }
.flaticon-013-focus:before { content: "\f10c"; }
.flaticon-014-goal:before { content: "\f10d"; }
.flaticon-015-goal-1:before { content: "\f10e"; }
.flaticon-016-growth:before { content: "\f10f"; }
.flaticon-017-growth-1:before { content: "\f110"; }
.flaticon-018-investment:before { content: "\f111"; }
.flaticon-019-invoice:before { content: "\f112"; }
.flaticon-020-leadership:before { content: "\f113"; }
.flaticon-021-workspace:before { content: "\f114"; }
.flaticon-022-handshake:before { content: "\f115"; }
.flaticon-023-ecommerce:before { content: "\f116"; }
.flaticon-024-report-1:before { content: "\f117"; }
.flaticon-025-maze:before { content: "\f118"; }
.flaticon-026-solution:before { content: "\f119"; }
.flaticon-027-strategy:before { content: "\f11a"; }
.flaticon-028-presentation:before { content: "\f11b"; }
.flaticon-029-risk:before { content: "\f11c"; }
.flaticon-030-vision:before { content: "\f11d"; }
    
    $font-Flaticon-001-accounting: "\f100";
    $font-Flaticon-002-analysis: "\f101";
    $font-Flaticon-003-benefit: "\f102";
    $font-Flaticon-004-briefcase: "\f103";
    $font-Flaticon-005-incentive: "\f104";
    $font-Flaticon-006-report: "\f105";
    $font-Flaticon-007-call-center: "\f106";
    $font-Flaticon-008-company: "\f107";
    $font-Flaticon-009-computer: "\f108";
    $font-Flaticon-010-conference: "\f109";
    $font-Flaticon-011-consultation: "\f10a";
    $font-Flaticon-012-consumer: "\f10b";
    $font-Flaticon-013-focus: "\f10c";
    $font-Flaticon-014-goal: "\f10d";
    $font-Flaticon-015-goal-1: "\f10e";
    $font-Flaticon-016-growth: "\f10f";
    $font-Flaticon-017-growth-1: "\f110";
    $font-Flaticon-018-investment: "\f111";
    $font-Flaticon-019-invoice: "\f112";
    $font-Flaticon-020-leadership: "\f113";
    $font-Flaticon-021-workspace: "\f114";
    $font-Flaticon-022-handshake: "\f115";
    $font-Flaticon-023-ecommerce: "\f116";
    $font-Flaticon-024-report-1: "\f117";
    $font-Flaticon-025-maze: "\f118";
    $font-Flaticon-026-solution: "\f119";
    $font-Flaticon-027-strategy: "\f11a";
    $font-Flaticon-028-presentation: "\f11b";
    $font-Flaticon-029-risk: "\f11c";
    $font-Flaticon-030-vision: "\f11d";